$max-width: 200px;
$max-width-mobile: 130px;

.points
{
    position: absolute;
    top: 50%;
    left: 50%;
    // container for positioning
    .container
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: $max-width;
        height: 0;
        padding: 0;
        margin: 0;
        .point
        {
            // https://css-tricks.com/snippets/css/typewriter-effect/
            position: absolute;
            padding: 1px;
            margin: 0;
            color: #ccffff;
            letter-spacing: 0.05em;
            font-size: 15px;
            user-select: none;
            font-family: Helvetica, Arial, sans-serif;
            // blinking cursor (initially transparent)
            border-right: 2px solid transparent;
            border-left: 2px solid transparent;
            // labels background shadow
            text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
            // disable line breaks
            white-space: nowrap;
            // ensures the content is not revealed until the animation
            overflow: hidden;
            // for pop up effect
            transform: scale(0, 0);
            transition: transform 0.5s ease-in-out;
            // type from left to right
            &.left
            {
                left: 0;
                text-align: left;
                &.typing {
                    animation: typing 2s steps(40),
                    cursorLeft 0.5s steps(40) 10,
                    blink 5s ease-in-out infinite alternate;
                }
            }
            // type from right to left
            &.right
            {
                right: 0;
                text-align: right;
                &.typing {
                    animation: typing 2s steps(40),
                    cursorRight 0.5s steps(40) 10,
                    blink 5s ease-in-out infinite alternate;
                }
            }
            // pop up effect
            &.visible
            {
                transform: scale(1, 1);
            }
        }
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: $max-width;
    }
}
@keyframes blink {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes cursorRight{
    0% {
        border-right-color: rgba(255,255,255,.75);
    }
    100% {
        border-right-color: transparent;
    }
}
@keyframes cursorLeft{
    0% {
        border-left-color: rgba(255,255,255,.75);
    }
    100% {
        border-left-color: transparent;
    }
}

@media screen and (max-width:768px) {
    .points .container .point {
        font-size: 12px;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
    }
    @keyframes typing {
        0% {
            width: 0;
        }
        100% {
            width: $max-width-mobile;
        }
    }
}