.trademark
{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 4.5s ease-out; 
}
@media screen and (max-width:600px) {
    .trademark {
        transform: translate(-50%, -50%) scale(0.7);
    }
}

.trademark.fadeout
{
    opacity: 0;
}

.trademark svg
{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* https://css-tricks.com/svg-line-animation-works/ */
.trademark .path
{
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: dash 2.5s ease-out infinite;
}  

@keyframes dash {
    0% {
        stroke-dashoffset: 250;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.trademark .title
{
    position: absolute;
    color: white;
    font-size: 30px;
    letter-spacing: 10px;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translate(-45%, -50%);
    animation: blink 2s ease-in-out infinite;
    animation-direction: alternate;
} 

@keyframes blink {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}